<div class="container">
    <div class="details-container">
      <div class="row" *ngIf="studentDetails && studentDetails.length > 0">
        <div class="col-md-6" *ngFor="let student of studentDetails">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ student.name }}</h5>
              <p class="card-text"><i>Department: </i>{{ student.department }}</p>
              <p class="card-text"><i>Email: </i>{{ student.email }}</p>
              <button class="btn btn-primary" (click)="showStudentDetails(student.id)">Show Details</button>
            </div>
          </div>
        </div>
      </div>
      <div class="alert alert-info" *ngIf="!studentDetails || studentDetails.length === 0">
        No student details available.
      </div>
    </div>
  </div>
  